{% extends 'admin/home.html' %}

{% block content %}

<h5 class='text-center fw-bold'>Branch list</h5>
<div class="container">
    <table class="table table-hover">
    <tbody class="table table-striped table-hover">
      <tr class="thead-dark text-center">
        
      
          <th>College Name</th>
          <th>Department Name</th>
          <th>Branch Name</th>
          <th>Time Start</th>
          <th>Time End</th>
      </tr>

{% for data in tablelist %}
    <tr class="text-center">

    <td>{{data.clg_name}}</td>
    <td>{{data.dep_name}}</td>
    <td>{{data.bran_name}}</td>
    <td>{{data.time_start}}</td>
    <td>{{data.time_end}}</td>

    


    
        </tr>
  {% endfor %}
    </tbody>
  </table>
    </div>


{% endblock %}